<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <% include ../partials/header.ejs %>
    <h1>This is about me!</h1>
    <p>These are a few of my favourite things:</p>
    <ul>
    <% favouriteThings.forEach(function(elem){ %>
        <li><%= elem %></li>
    <% }) %>
    </ul>

    <% include ../partials/footer.ejs %>
</body>
</html>