<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <% include ../partials/header.ejs %>
    <h1>Blog Post One</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus tempora, fugit veniam corrupti vel quae adipisci, optio consectetur voluptate fuga voluptatibus. Perspiciatis laboriosam exercitationem quia fugit qui? Laudantium, quos reprehenderit?</p>

    <% include ../partials/footer.ejs %>
</body>
</html>